.cp {
  cursor: pointer;
}
.flex {
  display: flex;
  justify-content: space-around;
}
.blogs {
  height: 300px;
}
.youtube_image,
.vk_image {
  height: 120px;
  width: auto;
  z-index: 0;
}

.vk,
.youtube {
  z-index: 3;
}
