body {
    background: url(../images/backgroun.jpg);
    background-size: 100%;
    background-attachment: fixed;
    width: 1500px;
    height: 3500px;
    .section_title {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 300;
        font-size: 40px;
        line-height: 49px;
        color: #FFF6F6;
    }
}

