body {
    background: url(../images/backgroun.jpg);
    background-size: 100%;
    background-attachment: fixed;
    width: 1350px;
    height: 3500px;
}
.ff {
    font-family: 'Montserrat';
    font-style: normal;
}
.cp {
   cursor: pointer; 
}
.fw-400 {
  font-weight: 400;
}
.fw-300 {
  font-weight: 300;
}
.fw-600 {
  font-weight: 600;
}
.flex {
    display: flex;
}
.section_title {
    font-size: 40px;
    line-height: 49px;
    color: #FFF6F6;
    justify-content: center;
    margin: 10px;
}
.cap {
    margin-top: 20px;
    width: 1300px;
    justify-content: space-between;
    margin: 10px;
}
.cap_item {
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
}

.main {
font-weight: 500;
font-size: 64px;
line-height: 78px;
text-align: center;
color: #FFF6F6;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
margin-top: 70px;
}

.title {
    justify-content: center;
font-size: 40px;
line-height: 49px;
color: #FFF6F6;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
margin-bottom: 70px;
}

.description {
    width: 860px;
  height: 334px;
    font-size: 24px;
  line-height: 29px;
  color: #F9E7E6;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  justify-content: center;
  align-items: center;
}

.ph_des {
    justify-content: space-around;
    background-color: #003445;
}

.watsapp {
    margin-left: 50px;
}