.flex {
  display: flex;
}
.prices {
    width: 1156px;
    height: 430px;
}
.prices_container {

  justify-content: space-around;
}
.prices_item {
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    color: #FFFFFF;
    border: 1px solid #000000;
}
#square {
  width: 321px;
  height: 429px;
  border: 2px solid #000000;
}